n8n-webinar-flow.json
{
  "name": "Webinar Registration → Zoom + Emails",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webinar-register",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "webinar-register"
    },
    {
      "parameters": {
        "resource": "meetingRegistrant",
        "operation": "create",
        "meetingId": "YOUR_ZOOM_MEETING_ID",
        "email": "={{ $json.body.email }}",
        "additionalFields": {
          "firstName": "={{ $json.body.name.split(' ')[0] }}",
          "lastName": "={{ $json.body.name.split(' ').slice(1).join(' ') || '' }}"
        }
      },
      "id": "zoom-registrant",
      "name": "Zoom: Add Registrant",
      "type": "n8n-nodes-base.zoom",
      "typeVersion": 1,
      "position": [460, 160],
      "credentials": {
        "zoomOAuth2Api": {
          "id": "ZOOM_CREDENTIAL_ID",
          "name": "Zoom OAuth2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.email }}",
        "subject": "You're in! Claude Code Sprint — March 21st",
        "emailType": "html",
        "message": "<div style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; max-width: 600px; margin: 0 auto; padding: 32px 24px; background: #ffffff;\">\n  <div style=\"text-align: center; margin-bottom: 32px;\">\n    <h1 style=\"font-size: 28px; font-weight: 700; color: #111827; margin: 0 0 8px;\">You're Registered! 🎉</h1>\n    <p style=\"font-size: 16px; color: #6b7280; margin: 0;\">Claude Code Sprint — Live Workshop</p>\n  </div>\n\n  <div style=\"background: #f0fdf4; border: 1px solid #bbf7d0; border-radius: 12px; padding: 24px; margin-bottom: 24px;\">\n    <h2 style=\"font-size: 18px; font-weight: 600; color: #111827; margin: 0 0 16px;\">Event Details</h2>\n    <p style=\"margin: 4px 0; color: #374151;\">📅 <strong>Date:</strong> March 21st, 2025</p>\n    <p style=\"margin: 4px 0; color: #374151;\">🕐 <strong>Time:</strong> Saturday, 11:00 AM</p>\n    <p style=\"margin: 4px 0; color: #374151;\">📍 <strong>Where:</strong> Live on Zoom</p>\n  </div>\n\n  <div style=\"text-align: center; margin: 32px 0;\">\n    <a href=\"YOUR_ZOOM_JOIN_LINK\" style=\"display: inline-block; background: #7c3aed; color: #ffffff; text-decoration: none; padding: 14px 32px; border-radius: 8px; font-weight: 600; font-size: 16px;\">Join Zoom Meeting →</a>\n  </div>\n\n  <div style=\"background: #faf5ff; border-radius: 12px; padding: 24px; margin-bottom: 24px;\">\n    <h3 style=\"font-size: 16px; font-weight: 600; color: #111827; margin: 0 0 12px;\">What to Expect</h3>\n    <ul style=\"margin: 0; padding-left: 20px; color: #374151; line-height: 1.8;\">\n      <li>Watch a real app get built from scratch in 60 minutes</li>\n      <li>See Claude Code in action — no slides, just pure building</li>\n      <li>Learn how senior devs are shipping 10x faster with AI</li>\n    </ul>\n  </div>\n\n  <p style=\"text-align: center; font-size: 14px; color: #9ca3af; margin-top: 32px;\">— Prapti &amp; the GenAI People team</p>\n</div>",
        "options": {
          "senderName": "GenAI People"
        }
      },
      "id": "gmail-confirmation",
      "name": "Gmail: Confirmation",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [460, 340],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2 prapti@genaipeople.com"
        }
      }
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "2025-03-20T04:30:00.000Z"
      },
      "id": "wait-1d",
      "name": "Wait: 1 day before",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [460, 520]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.email }}",
        "subject": "Tomorrow: Claude Code Sprint — 11:00 AM",
        "emailType": "html",
        "message": "<div style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; max-width: 600px; margin: 0 auto; padding: 32px 24px; background: #ffffff;\">\n  <div style=\"text-align: center; margin-bottom: 32px;\">\n    <h1 style=\"font-size: 28px; font-weight: 700; color: #111827; margin: 0 0 8px;\">Tomorrow's the Day! 🚀</h1>\n    <p style=\"font-size: 16px; color: #6b7280; margin: 0;\">Claude Code Sprint is tomorrow</p>\n  </div>\n\n  <p style=\"color: #374151; line-height: 1.7; margin-bottom: 24px;\">Hey {{ $('Webhook').item.json.body.name.split(' ')[0] }},</p>\n  <p style=\"color: #374151; line-height: 1.7; margin-bottom: 24px;\">Quick heads-up — the Claude Code Sprint is <strong>tomorrow, Saturday at 11:00 AM</strong>. We're going from a blank screen to a deployed app in 60 minutes. You won't want to miss this.</p>\n\n  <div style=\"background: #fef3c7; border: 1px solid #fde68a; border-radius: 12px; padding: 20px; margin-bottom: 24px;\">\n    <p style=\"margin: 0; color: #92400e; font-weight: 600;\">💡 Pro tip: Have your laptop ready — you might want to follow along!</p>\n  </div>\n\n  <div style=\"text-align: center; margin: 32px 0;\">\n    <a href=\"YOUR_ZOOM_JOIN_LINK\" style=\"display: inline-block; background: #7c3aed; color: #ffffff; text-decoration: none; padding: 14px 32px; border-radius: 8px; font-weight: 600; font-size: 16px;\">Join Zoom Meeting →</a>\n  </div>\n\n  <p style=\"text-align: center; font-size: 14px; color: #9ca3af; margin-top: 32px;\">— Prapti &amp; the GenAI People team</p>\n</div>",
        "options": {
          "senderName": "GenAI People"
        }
      },
      "id": "gmail-1d",
      "name": "Gmail: 1-day reminder",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [720, 520],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2 prapti@genaipeople.com"
        }
      }
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "2025-03-21T04:30:00.000Z"
      },
      "id": "wait-1h",
      "name": "Wait: 1 hour before",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [460, 700]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.email }}",
        "subject": "Starting in 1 hour: Claude Code Sprint",
        "emailType": "html",
        "message": "<div style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; max-width: 600px; margin: 0 auto; padding: 32px 24px; background: #ffffff;\">\n  <div style=\"text-align: center; margin-bottom: 32px;\">\n    <h1 style=\"font-size: 28px; font-weight: 700; color: #111827; margin: 0 0 8px;\">We're Live in 1 Hour! ⚡</h1>\n    <p style=\"font-size: 16px; color: #6b7280; margin: 0;\">Claude Code Sprint starts at 11:00 AM</p>\n  </div>\n\n  <p style=\"color: #374151; line-height: 1.7; margin-bottom: 24px;\">Hey {{ $('Webhook').item.json.body.name.split(' ')[0] }},</p>\n  <p style=\"color: #374151; line-height: 1.7; margin-bottom: 24px;\">The Claude Code Sprint starts in <strong>1 hour</strong>. Grab your coffee, open Zoom, and get ready to see an app built from scratch in real time.</p>\n\n  <div style=\"text-align: center; margin: 32px 0;\">\n    <a href=\"YOUR_ZOOM_JOIN_LINK\" style=\"display: inline-block; background: #dc2626; color: #ffffff; text-decoration: none; padding: 16px 40px; border-radius: 8px; font-weight: 700; font-size: 18px;\">Join Now →</a>\n  </div>\n\n  <p style=\"text-align: center; color: #374151; font-weight: 500;\">See you in there! 👋</p>\n\n  <p style=\"text-align: center; font-size: 14px; color: #9ca3af; margin-top: 32px;\">— Prapti &amp; the GenAI People team</p>\n</div>",
        "options": {
          "senderName": "GenAI People"
        }
      },
      "id": "gmail-1h",
      "name": "Gmail: 1-hour reminder",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [720, 700],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2 prapti@genaipeople.com"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Zoom: Add Registrant", "type": "main", "index": 0 },
          { "node": "Gmail: Confirmation", "type": "main", "index": 0 },
          { "node": "Wait: 1 day before", "type": "main", "index": 0 },
          { "node": "Wait: 1 hour before", "type": "main", "index": 0 }
        ]
      ]
    },
    "Wait: 1 day before": {
      "main": [
        [
          { "node": "Gmail: 1-day reminder", "type": "main", "index": 0 }
        ]
      ]
    },
    "Wait: 1 hour before": {
      "main": [
        [
          { "node": "Gmail: 1-hour reminder", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "tags": [
    { "name": "webinar" },
    { "name": "automation" }
  ]
}
